<section style="display: flex; width: 100svw; height: 100svh;">
  <div  style="background-color: rgb(153, 0, 255);  height: '100%'; flex: 1;" class="po-visible-xl "> </div>
  <form style=" display: flex; justify-content: center; flex-direction: column;" class="po-m-4 po-row po-xl-3 po-md-12 po-lg-12">
    <po-input class="po-md-12"
      p-label="Nome"
    ></po-input>
    <po-input class="po-md-12"
      p-label="Sobrenome"
    ></po-input>
    <po-input class="po-md-12"
      p-label="Username"
    ></po-input>
    <po-password class="po-md-12"
      p-label="Senha"
    ></po-password>
    <po-button
      class="po-md-12"
      p-label="Registra-se"
    ></po-button>
  </form>
</section>
