* {
  font-size: 0.9rem;
}


.po-input:focus {
  outline: none !important;
}

.po-combo-input:focus {
  outline: none !important;
}


.po-rich-text-toolbar {
  padding: 0px;
  align-items: center !important;
    padding-left: 10px !important;
}
